<div class="px-8 py-7 sm:px-4">
  <div class="py-3">
    <h3 class="font-semibold">Inventory Management</h3>
  </div>
  <mat-card class="table-card">
    <div>
      <div class="flex xs:flex-col justify-between items-center xs:items-start p-3">
        <h4 class="font-semibold">Inventory List</h4>
        <div class="flex items-center gap-2">
          <form class="border rounded">
            <div class="form-inline">
              <input
                #input
                class="form-control custom-ml-3"
                type="text"
                [formControl]="searchString"
                placeholder="Search..."
              />
            </div>
          </form>
          <div>
            <div mat-icon-button class="bg-primary text-white py-2 px-4 rounded" [matMenuTriggerFor]="menu">
              Filters
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Active</span>
              </button>
              <button mat-menu-item>
                <span>Inactive</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <mat-divider class="w-100 text-black position-relative"></mat-divider>
      <div class="my-8">
        <div *ngIf="isLoading" class="pt-5" fxLayout="row" fxLayoutAlign="center center">
          <app-loader [size]="1.5" class="inline-loader" [isLoading]="isLoading"></app-loader>
        </div>

        <div>
          <div [style.visibility]="!isLoading ? 'visible' : 'hidden'" fxFlex="100%">
            <div style="display: grid">
              <div class="text-left">
                <app-datatable
                  [tableData]="_tableData"
                  [tableColumns]="tableColumns"
                  [searchValue]="searchString.value"
                  [isFilterable]="true"
                  [isPageable]="true"
                  [rowActionIcon]="'true'"
                  [isEditIcon]="true"
                  [isToggleIcon]="true"
                  [paginationSizes]="[5, 10, 15]"
                  [defaultPageSize]="5"
                  (reloadTable)="getInventoryList()"
                  (rowToggleAction)="updateStatus($event)"
                  [rowActionIcon]="'remove_shopping_cart'"
                >
                </app-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
